# Dev Machines
.DS_Store
*/.DS_Store
*.swp

# Assets
# public/assets/*[a-z0-9]{65}\.*
#canapp/public/assets/*
#canapp/public/system/*

# Configuration files
#canapp/config/app_config.yml
#canapp/config/application.yml
#canapp/config/mandrill.yml
#canapp/config/environments/production.rb

# Ignore all logfiles and tempfiles.
log/*
tmp
.powder
.virb*
*.*~
#canapp/shared/*

# Ignore the default database.
#/db/*.sqlite3
#/db/*.sqlite3-journal
#/db/*.javadb/

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

## Environment normalization:
#/.bundle
#canapp/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
#.rvmrc
