/* Space out content a bit */
body {
  padding-top: 64px;
  padding-bottom: 20px;
}

.navbar-brand {
  padding-top: 10px;
  padding-bottom: 10px;
}

.icon-bar {
  background-color: rgba(0,0,0,1);
}

.jumbotron {
  background-color: #18191b;
  color: #d1d6e1;
  background-image: url("../img/bg-inog-3.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
  background-size: cover;
}

.jumbotron h1 {
  color: #ffffff;
}

.MeetupBox {
    margin-top:10px;
    border: #d1d6e1 medium solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px 15px 0px 15px;
    text-align: center;
    color: #fff;
}
.futuremeets {
    color: #d1d6e1;
    font-size: 70%;
}
